@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

 body{
  @apply bg-[#0F1624];
} 

.forHov:hover{
  transform: scale(1.2);
      transition: transform 0.3s ease;
}
@keyframes appear {
  from {
    opacity: 0;
    clip-path: inset(100% 100% 0 0);
  }
  to {
    opacity: 1;
    clip-path: inset(0 0 0 0);
  }
}

.ojt {
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 30%;
}



